<div id="header" class="container-fluid sticky-container">
    Daily Tracker
</div>

<div class="container-fluid">
  <div class="menu">
    <nav> 
      <ul class="nav"> 
        <li class="nav-item"><a routerLink="/home" class="nav-link">Home</a></li>
        <li class="nav-item"><a routerLink="/todo" class="nav-link">ToDo</a></li>
        <li class="nav-item"><a routerLink="/admin" class="nav-link">Admin</a></li>
      </ul>
    </nav>
  </div>  
    <router-outlet></router-outlet> 
</div>

<div class="container-fluid">
  Footer
</div>
